@model IEnumerable<Oblig2.Models.Entities.Comment>

@{
    ViewData["Title"] = "Comments";
}

<h1>Comments</h1>

<p>
    @if (Model.Any() && Model.First().Post != null)
    {
        <a asp-action="CreateComment" asp-route-id="@Model.First().Post.PostId">Create New</a>
    }
    else
    {
        <a asp-action="CreateComment" asp-route-id="@Context.Request.RouteValues["id"]">Create New</a>
    }
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CommentContent)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Owner.Email)

        </th>

        <th>
            @Html.DisplayNameFor(model => model.TimeCreated)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{
                    int maxLength = 100;
                    string content = item.CommentContent.Length <= maxLength ? item.CommentContent : item.CommentContent.Substring(0, maxLength) + "...";
                }
                @Html.DisplayFor(modelItem => content)
            </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Owner.Email)
                        </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeCreated)
            </td>
            <td>
                <a asp-action="EditComment" asp-route-id="@item.CommentId">Edit</a> |
                <a asp-action="DetailsComment" asp-route-id="@item.CommentId">Details</a> |
                <a asp-action="DeleteComment" asp-route-id="@item.CommentId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>